#secEspecialidades {
    margin: auto;
    width: 96%;
    height: auto;
    margin-bottom: 80px;
    margin-top: 60px;
}

article {
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
    align-items: flex-start;
    justify-content: center;
    width: 96%;

    h5 {
        margin-left: 25px;
    }


}

.esp1 {
    background-image: url(../images/odontogeneral.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 340px;
    height: 225px;

    margin: 20px;
}

.esp2 {
    background-image: url(../images/ortodoncia2.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 340px;
    height: 225px;

    margin: 20px;
}

.esp3 {
    background-image: url(../images/implante_dental.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 340px;
    height: 225px;

    margin: 20px;
}

.esp4 {
    background-image: url(../images/endodoncia.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 340px;
    height: 225px;

    margin: 20px;
}

.esp5 {
    background-image: url(../images/ortodoncia.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 340px;
    height: 225px;
    margin: 20px;
}

.artEspecialidades {
    margin-top: 20px;
    width: 800px;
    height: auto;
}
.parrafoArticulos {
    margin-bottom: 35px;
    margin-left: 25px;
    font-family: 'DM Sans', sans-serif;
    color: #000000;
}

.parrafoEspecilaidades {
    margin-bottom: 15px;
}

// TABLET

@media only screen and (min-width: 501px) and (max-width: 1024px) {

    article {
        margin-top: 60px;
        display: flex;
        flex-direction: column;
     
        width: 90%;
    
        h5 {
            margin-left: 25px;
        }
    
    
    }

    .artEspecialidades {
        margin-top: 15px;
        width: 90%;
        height: auto;
    }
    .esp1{
        width: 90%;
        height: 380px;
        background-position: top;
    }
    .esp2{
        width: 90%;
        height: 380px;
        background-position: top;
    }
    .esp3{
        width: 90%;
        height: 380px;
        background-position: top;
    }
    .esp4{
        width: 90%;
        height: 380px;
        background-position: top;
    }
    .esp5{
        width: 90%;
        height: 380px;
        background-position: top;
    }
}

// MOBILE

@media only screen and (max-width: 600px) {

    article {
        margin-top: 60px;
        display: flex;
        flex-direction: column;
     
        width: 90%;
    
        h5 {
            margin-left: 25px;
        }
    
    
    }

    .artEspecialidades {
        margin-top: 15px;
        width: 90%;
        height: auto;
        text-align: center;
    }
    .esp1{
        width: 90%;
        height: 280px;
        background-position: top;
    }
    .esp2{
        width: 90%;
        height: 280px;
        background-position: top;
    }
    .esp3{
        width: 90%;
        height: 280px;
        background-position: top;
    }
    .esp4{
        width: 90%;
        height: 280px;
        background-position: top;
    }
    .esp5{
        width: 90%;
        height: 280px;
        background-position: top;
    }
}