header {
    width: 100%;

    .headbar {
        height: 85px;
        width: 100%;
        position: fixed;
        top: 0%;
        background-color: #fcf7ef;
        border-bottom: 3px solid #008bf0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        z-index: 2;
    
    }


    .secContactoHead {

        background-color: #008bf0;
        background-image: url(imagescss/contacto_img.png);
        background-size: 2000px;
        background-position: center;
        background-repeat: no-repeat;
        background-position-x: fixed;
        width: 100%;
        max-height: 700px;
        height: 420px;
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    .secEspeciliadidadesHeader {
        background-color: #008bf0;
        background-image: url(./imagescss/portadillaEspecialidades.png);
        background-size: 2000px;
        background-position: center;
        background-repeat: no-repeat;
        background-position-x: fixed;
        width: 100%;
        max-height: 700px;
        height: 420px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fcf7ef;
        padding-top: 25px;
        display: flex;
        flex-direction: row;
        flex-flow: wrap;
    }
    
}

.secNosotros {

    background-color: $colorBlue;
    background-image: url(./imagescss/img_nosotros.png);
    background-size: 2000px;
    background-position: center;
    background-repeat: no-repeat;
    background-position-x: fixed;
    width: 100%;
    max-height: 700px;
    height: 420px;
    display: flex;
    align-items: center;
    justify-content: center;

}



a {
    text-decoration: none;
    color: $colorBlue;
    
    &:hover {
        opacity: 70%;
    }
    &:active {
        color: #ffa650;
    }
}


ul li {
    display: inline-block;
}

.logocontainer {
    margin-left: 4%;
    margin-top: 15px;

}

    /********    TABLET    *******/
@media only screen and (min-width: 481px) and (max-width: 1024px) {

nav {
    display: none;
}

#menu {
    display: flex;
    position: fixed;
    top:0px;
    left: 90%;

}

#hamburguesa li:last-child {
    display: none;
}

nav:target #barra {
    display: block;
}
nav:target #hamburguesa li:first-child {
    display: none;
}
nav:target #hamburguesa li:last-child {
    display: block;
}
#hamburguesa li {
    text-align: center;
    list-style: none;
    margin-top: .75em;
    width: 2.5em;
    height: 2.5em;
    color: antiquewhite;
    border: 0.5px solid #008bf0;
    border-radius: 7%;
}

#barra {
    display: none;
    width: 100%;
    height: calc(100vh - 4em);
    position:fixed;
    top: 82px;
    left: 0;
    background: #008bf0;
}

#barra a {

    color: white;
    margin-bottom: 2em;
  

}
#barra li {
    list-style: none;
    margin: 2em;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
    border-bottom: .1px solid white;
}
   
}