nav {

    font-size: 16pt;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    margin-right: 4%;

    li {
        padding: 10px;
    }
}
.navNativa {

    font-size: 16pt;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    margin-right: 4%;
}